# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual Environment =====
venv/
.env/
.env

# ===== macOS =====
.DS_Store

# ===== Logs =====
*.log

# ===== Data =====
*.db
podcast_outputs/
podcast_scripts/
article_images/

# ===== VS Code =====
.vscode/

# Audio files
*.mp3
*.wav
