# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual Environment =====
venv/
.env/
.env

# ===== macOS =====
.DS_Store

# ===== Logs =====
*.log

# ===== Database =====
*.db

# ===== VS Code =====
.vscode/